.env
.env.example
.editorconfig
.idea
.git
.gitattributes
.gitignore
.gitmodules
.phpunit.result.cache

Dockerfile
phpunit.xml
README.md

/deploy
/node_modules
/public/hot
/server
/storage/debugbar
/storage/media-library
/storage/app/temp/*
/tests
/vendor

/storage/logs/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/framework/testing/*
/storage/app/*
/storage/debugbar/*
/storage/media-library/*
