.env
.env.example
.editorconfig
.git
.gitattributes
.gitignore
.gitmodules
.phpunit.result.cache
phpunit.xml
README.md

/deploy
/node_modules
/public/hot
/server
/storage/logs/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/debugbar
/storage/media-library
/storage/app/temp/*
/tests
/vendor

