# Configuration file for deployment settings

SERVER_USER=
SERVER_HOST=
REPO_URL=

STAGING_PATH=
STAGING_DOMAIN=
STAGING_INSTALL_DEV=true

PRODUCTION_PATH=
PRODUCTION_DOMAIN=
PRODUCTION_INSTALL_DEV=false
